################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/VideoConversion/ffmpeg
VideoConversion/.vs/VideoConversion/FileContentIndex/935bafce-e82f-4c15-9c11-3b8ed9ee7e91.vsidx
VideoConversion/.vs/VideoConversion/CopilotIndices/17.14.734.62261/CodeChunks.db
VideoConversion/.vs/VideoConversion/CopilotIndices/17.14.734.62261/CodeChunks.db
VideoConversion/.vs/VideoConversion/CopilotIndices/17.14.734.62261/CodeChunks.db-shm
VideoConversion/.vs/VideoConversion/CopilotIndices/17.14.734.62261/SemanticSymbols.db
*.vsidx
*.vsidx
*.vsidx
/VideoConversion/.vs/VideoConversion/FileContentIndex
*.json
VideoConversion/.vs/VideoConversion/v17/DocumentLayout.backup.json
