################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/VideoConversion/ffmpeg
VideoConversion/.vs/VideoConversion/FileContentIndex/935bafce-e82f-4c15-9c11-3b8ed9ee7e91.vsidx
VideoConversion/.vs/VideoConversion/CopilotIndices/17.14.734.62261/CodeChunks.db
VideoConversion/.vs/VideoConversion/CopilotIndices/17.14.734.62261/CodeChunks.db
VideoConversion/.vs/VideoConversion/CopilotIndices/17.14.734.62261/CodeChunks.db-shm
VideoConversion/.vs/VideoConversion/CopilotIndices/17.14.734.62261/SemanticSymbols.db
*.vsidx
*.vsidx
*.vsidx
/VideoConversion/.vs/VideoConversion/FileContentIndex
*.json
VideoConversion/.vs/VideoConversion/v17/DocumentLayout.backup.json
/VideoConversion/.vs/ProjectEvaluation/videoconversion.metadata.v9.bin
/VideoConversion/.vs/ProjectEvaluation/videoconversion.projects.v9.bin
/VideoConversion/.vs/ProjectEvaluation/videoconversion.strings.v9.bin
/VideoConversion/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/VideoConversion/obj/Debug/net8.0/staticwebassets.removed.txt
/VideoConversion/obj/Debug/net8.0/VideoConversion.GlobalUsings.g.cs
/VideoConversion/obj/Debug/net8.0/VideoConversion.RazorAssemblyInfo.cache
/VideoConversion/obj/Debug/net8.0/VideoConversion.RazorAssemblyInfo.cs
/VideoConversion/obj/VideoConversion.csproj.nuget.g.targets
/VideoConversion-Client/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/VideoConversion-Client/obj/VideoConversion-Client.csproj.nuget.g.targets
